[submodule "tchui-calendar"]
	path = tchui-calendar
	url = https://github.com/Milsonyujiaoki/tchui-calendar.git
[submodule "Brainstorm"]
	path = Brainstorm
	url = git@github.com:Milsonyujiaoki/Brainstorm.git
[submodule "proj-03-ultimate-runtime"]
	path = proj-03-ultimate-runtime
	url = git@github.com:Milsonyujiaoki/proj-03-ultimate-runtime.git
[submodule "acai_init"]
	path = acai_init
	url = git@github.com:Milsonyujiaoki/acai_init.git
[submodule "e-commerce-replit"]
	path = e-commerce-replit
	url = git@github.com:Milsonyujiaoki/e-commerce-replit.git
[submodule "lab-mobile"]
	path = lab-mobile
	url = git@github.com:Milsonyujiaoki/lab-mobile.git
