[submodule "tchui-calendar"]
	path = tchui-calendar
	url = https://github.com/Milsonyujiaoki/tchui-calendar.git
[submodule "Brainstorm"]
	path = Brainstorm
	url = git@github.com:Milsonyujiaoki/Brainstorm.git
